*, *:before, *:after {
	font-family: 'consolas', 'Courier New', Courier, monospace;

	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

html {
	font-size: 62.5%;
	line-height: 1.5;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	min-height: 100vh;
	background-color: #080818;
}

h1 {
	font-size: 7.2rem;
}

hr {
	width: 100%;

	height: .4em;
	background-color: #5c5c5c;

	border: none;
}

.ui {
	display: flex;

	align-items: center;
	flex-direction: column;
	padding: 2rem 0;

	width: 100%;
	max-width: 70%;
	height: 70vh;

	border-radius: 1rem;
	border: .4em solid #5c5c5c;

	background-color: #ffffffdb;
	background: linear-gradient(hsl(240, 100%, 90%),hsl(300, 100%, 80%));
}

.content {
	display: flex;

	align-items: center;
	justify-content: start;

	flex-direction: column;
	flex: 1;
	padding: 0 2rem;

	width: 100%;
	height: 100%;
}

.input-field {
	display: flex;
	align-items: center;
	justify-content: center;

	gap: 1rem;
	width: 100%;
	max-width: 50rem;
	height: 4rem;

	margin-top: 16vh;
}

.input-field input[type="url"] {
	width: 100%;
	height: 100%;

	padding: 0 1rem;

	border: none;
	border-radius: 0.5rem;

	font-size: 1.6rem;
	box-shadow: 0 0 1rem #000000;
}

.input-field input[type="url"]:focus {
	outline: .2em solid #0062ff;
}

.input-field button {
	padding: .5em;

	width: 10rem;
	height: 100%;

	border: none;
	border-radius: 0.5rem;

	background-color: #0062ff;
	color: #fff;

	font-size: 1.4rem;
	box-shadow: 0 0 1rem #000000;

	cursor: pointer;
}

#tiny-url {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-top: 10vh;
	font-size: 1.8rem;
}


#tiny-url a	{
	text-decoration: underline;

	color: #000000;
	background-color: #00ff8843;

	padding: 1rem;
	border-radius: 0.5rem;
}


.footer p {
	font-size: 1.2rem;
	font-weight: bold;
}

.footer a	{
	font-style: italic;
	text-decoration: none;

	color: #00457a;
	background-color: #ffffff;

	padding: .4em;
	border-radius: 0.5rem;
}
